*{
  margin: 0;
}
.app{align-items: center;
  background-color: lightblue;
 
}
.app__header{
  display: flex;
  background-color:darkcyan;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
.app__signup{
  display: flex;
  flex-direction: column;
}
.app__posts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:20px;
}
.app_loginContainer{
  display: flex;
  flex-direction: row;
}
.app__headerImage{
  object-fit: contain;
}
.header {
  background: aliceblue;
}

.munni{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:35px;
  padding-bottom: -35px;
  background-color: bisque;
  width: fit-content;
  height: fit-content;
   position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: 180px;

}
